:root{
    --one: #0D0D0D;
    --two: #262626ea;
    --three: #404040;
    --four: #737373;
    --five: #A6A6A6;
    --transparent: #0d0d0d7c;
    --text: #ffffff;
}

body{
    margin: 0;
    background: linear-gradient(180deg, var(--one) 0%, rgba(0, 0, 0, 1) 100%);
    font-family: "Nunito Sans", sans-serif;
    color: var(--text);
}

header{
    display: flex;
    height: 60px;
    background-color: var(--two);
    top: 0;
    position: sticky;
    z-index: 5;
    backdrop-filter: blur(10px);
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.171);
    outline: 1px solid rgb(43, 43, 43);
}

.header-left{
    min-width: 120px;
    font-family: "Libre Caslon Display", serif;
    display: flex;
    align-items: center;
}
.header-left h1{
    margin-bottom: 14px;
}

.header-right{
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: flex-end;
}

.hamburger-button{
    aspect-ratio: 1/1;
}

button{
    background-color: var(--transparent);
    border: none;
    border-radius: 5px;
    border-shape: squircle;
    transition: box-shadow 0.1s;
    color: white;
    outline: 1px solid rgb(43, 43, 43);
}
button:hover{
    box-shadow: inset 0 0 10px #ffffff49;
    cursor: pointer;
    background-color: rgba(59, 59, 59, 0.849);
}

h1{
    width: 100%;
    text-align: center;
    margin: auto;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
}
.hero h1{
    font-family: "Libre Caslon Display", serif;
    font-size: 10em;
    font-weight: 100;
    animation: fadein 3s cubic-bezier(0.064, 0.228, 0.28, 0.985);
    user-select: none;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.329);
    padding-bottom: 100px;
    color: rgb(255, 255, 255);
    transition: text-shadow 2s;
}
@keyframes fadein {
    0%{
        transform: translateY(200px);
        opacity: 0%;
    }
    10%{
        opacity: 0%;
    }
    50%{
        transform: translateY(0px);
    }
}

.hero{
    background: url(emrtny.png);
    background-size: cover;
    background-position: center;
    display: flex;
}
.hero h1:hover{
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.658);
}