:root{
    --one: #0D0D0D;
    --two: #262626ea;
    --three: #0f0f0fea;
    --four: #737373;
    --five: #A6A6A6;
    --transparent: #0d0d0d7c;
    --text: #ffffff;
}

body{
    margin: 0;
    background: linear-gradient(180deg, var(--one) 0%, rgba(0, 0, 0, 1) 100%);
    font-family: "Libre Caslon Display", serif;
    color: var(--text);
}

p{
    margin: 0;
    font-size: 1.4em;
}
a{
    font-size: 1.4em;
}

header{
    display: flex;
    height: 60px;
    background-color: var(--two);
    top: 0;
    position: sticky;
    z-index: 5;
    backdrop-filter: blur(10px);
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.171);
    outline: 1px solid rgb(43, 43, 43);
}

.header-left{
    min-width: 120px;
    font-family: "Libre Caslon Display", serif;
    display: flex;
    align-items: center;
}
.header-left h1{
    margin-bottom: 14px;
}

.header-right{
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: flex-end;
}

.hamburger-button{
    aspect-ratio: 1/1;
}

button{
    background-color: var(--transparent);
    border: none;
    border-radius: 5px;
    corner-shape: squircle;
    transition: box-shadow 0.1s;
    color: white;
    outline: 1px solid rgb(43, 43, 43);
}
button:hover{
    box-shadow: inset 0 0 10px #ffffff49;
    cursor: pointer;
    background-color: rgba(59, 59, 59, 0.849);
}

h1{
    width: 100%;
    text-align: center;
    margin: auto;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 700px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.hero h1{
    font-family: "Libre Caslon Display", serif;
    font-size: 10em;
    font-weight: 100;
    animation: fadein 2s cubic-bezier(0.064, 0.228, 0.28, 0.985);
    user-select: none;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.329);
    padding-bottom: 100px;
    color: rgb(255, 255, 255);
    transition: text-shadow 2s;
}
@keyframes fadein {
    0%{
        transform: translateY(200px);
        opacity: 0%;
    }
    10%{
        opacity: 0%;
    }
    50%{
        transform: translateY(0px);
    }
}

.hero{
    background: url(emrtny.png);
    background-size: cover;
    background-position: center;
    display: flex;
}
.hero h1:hover{
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.658);
}

.about-me-card{
    width: 100%;
    max-width: 800px;
    height: 100%;
    background-color: var(--one);
    backdrop-filter: blur(10px);
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.171);
    outline: 1px solid rgb(37, 37, 37);
    border-radius: 10px;
    border-shape: squircle;
    align-self: stretch;
}
.about{
    display: flex;
    min-height: 400px;
    height: fit-content;
    justify-content: center;
    padding: 50px;
    user-select: none;
}

.about-me-card img{
    width: 80px;
    border-radius: 50%;
}

.about-me-card h1{
    color: rgb(226, 226, 226);
    padding: 14px;
    text-align: left;
    box-sizing: border-box;
}

.about-me-card .row{
    display: flex;
    padding: 20px;
    padding-bottom: 10px;
}

.about-me-card p{
    padding: 40px;
    padding-top: 10px;
    font-size: 1.4em;
}

.portfolio{
    height: fit-content;
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, #1d1d1d 2%, #161616 98%, rgba(0, 0, 0, 0) 100%);
}

.portfolio h1{
    padding-top: 50px;
    font-size: 3em;
}

.portfolio .card{
    background-color: var(--three);
    margin: 10px;
    flex-grow: 1;
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.171);
    outline: 1px solid rgb(37, 37, 37);
    border-radius: 30px;
    corner-shape: squircle;
    align-self: stretch;
    transition: 0.2s;
    transform: scale(1);
}

.portfolio .card:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 30px rgba(122, 122, 122, 0.171);
    transform: scale(1.05);
    margin: 0 20px;
}

#card-container{
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: stretch;
    padding: 50px;
    box-sizing: border-box;
}

footer{
    display: flex;
    height: 80px;
    background-color: rgba(20, 20, 20, 0.911);
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.171);
    outline: 1px solid rgb(43, 43, 43);
}

footer p{
    text-align: center;
    width: 100%;
    padding-top: 28px;
    color: rgba(255, 255, 255, 0.733);
}

.contact{
    padding-left: 80px;
}
.contact h1{
    font-size: 3em;
    text-align: left;
}

a{
    color: white;
}